<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.microfocus.awm.model.extension">
      <functionPackage
            deprecated="false"
            id="com.microfocus.awmplugins.git.functionPackage"
            label="Git">
         <toolType
               deprecated="false"
               id="add"
               label="Add"
               toolExecutor="com.microfocus.awmplugins.git.executors.AddExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="additionalParm"
                  label="Additional Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="branchCreate"
               label="Create Branch"
               toolExecutor="com.microfocus.awmplugins.git.executors.BranchCreateExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="1..1"
                  id="name"
                  label="Branch Name"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="additionalParm"
                  label="Additional Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="checkout"
               label="Checkout"
               toolExecutor="com.microfocus.awmplugins.git.executors.CheckoutExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="additionalParm"
                  label="Additional Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="cloneRepository"
               label="Clone"
               toolExecutor="com.microfocus.awmplugins.git.executors.CloneRepositoryExecutor">
            <attribute
                  category="Dynamic"
                  customRestrictions="com.microfocus.awmplugins.git.executors.CloneRepositoryTypeRestrictions"
                  id="cloneType"
                  label="Clone Type"
                  mandatory="true"
                  modelLabel="true"
                  multiLine="false"
                  type="String">
            </attribute>
            <inputParameter
                  cardinality="1..1"
                  id="remoteUrl"
                  label="Remote URL"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="1..1"
                  id="localPath"
                  label="Local Path"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..1"
                  id="depth"
                  label="Depth"
                  massProcessing="true"
                  type="STRING">
               <visibleWhen>
                  <simpleCondition
                        attributeID="cloneType"
                        condition="Equals"
                        value="Depth">
                  </simpleCondition>
               </visibleWhen>
            </inputParameter>
            <inputParameter
                  cardinality="0..1"
                  id="since"
                  label="Since"
                  massProcessing="true"
                  type="STRING">
               <visibleWhen>
                  <simpleCondition
                        attributeID="cloneType"
                        condition="Equals"
                        value="Since">
                  </simpleCondition>
               </visibleWhen>
            </inputParameter>
            <inputParameter
                  cardinality="0..1"
                  id="branch"
                  label="Branch"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..1"
                  id="checkout"
                  label="Checkout"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="additionalParm"
                  label="Additional Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="commit"
               label="Commit"
               toolExecutor="com.microfocus.awmplugins.git.executors.CommitExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="1..1"
                  id="message"
                  label="Commit Message"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="additionalParm"
                  label="Additional Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="configGet"
               label="Get Config"
               toolExecutor="com.microfocus.awmplugins.git.executors.CloneRepositoryExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="1..1"
                  id="name"
                  label="Config Name"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="1..1"
                  id="value"
                  label="Config Value"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="configSet"
               label="Set Config"
               toolExecutor="com.microfocus.awmplugins.git.executors.ConfigSetExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="1..1"
                  id="name"
                  label="Config Name"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="1..1"
                  id="value"
                  label="Config Value"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="pull"
               label="Pull"
               toolExecutor="com.microfocus.awmplugins.git.executors.PullExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="additionalParm"
                  label="Additional Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="push"
               label="Push"
               toolExecutor="com.microfocus.awmplugins.git.executors.PushExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="additionalParm"
                  label="Additional Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="customCommand"
               label="Custom Command"
               toolExecutor="com.microfocus.awmplugins.git.executors.CustomCommandExecutor">
            <inputParameter
                  cardinality="0..*"
                  id="parm"
                  label="Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="customRepositoryCommand"
               label="Custom Repository Command"
               toolExecutor="com.microfocus.awmplugins.git.executors.CustomRepositoryCommandExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="parm"
                  label="Parm"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <outputParameter
                  cardinality="0..1"
                  id="messages"
                  label="Messages"
                  massProcessing="true"
                  type="STRING">
            </outputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="connectEGit"
               label="Connect EGit"
               toolExecutor="com.microfocus.awmplugins.git.executors.ConnectEGitExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="1..1"
                  id="projectName"
                  label="Project Name"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
         </toolType>
         <toolType
               deprecated="false"
               id="setSparseCheckout"
               label="Set Sparse Checkout"
               toolExecutor="com.microfocus.awmplugins.git.executors.SetSparseCheckoutExecutor">
            <inputParameter
                  cardinality="1..1"
                  id="repository"
                  label="Repository"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
            <inputParameter
                  cardinality="0..*"
                  id="path"
                  label="Path"
                  massProcessing="true"
                  type="STRING">
            </inputParameter>
         </toolType>
      </functionPackage>
   </extension>

</plugin>
